* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  background-color: green;
  height: 100vh;
  width: 100vw;
}

#form-container {
  background-color: #46367e;
  height: 100vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#form {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  height: 80vh;
  width: 35vw;
  margin: auto auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 0 9px 3px rgba(255, 255, 255, 0.082);
}

/*-------------------FORM SECTIONS-------------------*/

#form-header {
  font-weight: 800;
  height: 17%;
  width: 100%;
  font-size: 200%;
  color: black;
  background-color: #bbe9e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  font-size: 120%;
  width: 80%;
  height: 14%;
}

#password-container {
  height: 17%;
  margin-top: 4%;
}

#username-container,
#email-container {
  margin-top: 2%;
}

/*-------------------INDIVIDUAL ITEMS-------------------*/

form label {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 800;
}

.input {
  height: 40px;
  border: 2px grey solid;
  border-radius: 3%;
  font-size: 100%;
}

/*-------------------ERROR/SUCCESS-------------------*/

.errorMsg {
  color: red;
  font-size: 70%;
  word-wrap: break-word;
  visibility: hidden;
}

.form-success {
  border: green 3px solid;
}

.form-error {
  border: red 3px solid;
}

/*-------------------Button-------------------*/

#submit {
  height: 7%;
  width: 80%;
  font-size: 120%;
  background-color: #46367e;
  color: #fff;
  border-radius: 3%;
  margin-bottom: 2px;
  cursor: pointer;
}
